.utdhgreen {
  background: #E8F5E9; }

.csggray {
  background: #ECEFF1; }

.wwcpink {
  background: #FCE4EC; }

.lugyellow {
  background: #FFFDE7; }

.cbbrown {
  background: #EFEBE9; }

body {
  background: #eee; }

nav {
  z-index: 100; }

.logo {
  transform: scale(0.5);
  margin-top: -38.5px; }

.nav-wrapper {
  max-width: 90%;
  margin: 0 auto; }

h1 {
  margin: 0 auto;
  text-align: center;
  color: #212121; }

h5 {
  text-align: center; }

.banner {
  background-image: url("../banner.png");
  background-position: 50% 0%;
  background-size: cover;
  height: 450px;
  width: 100%; }

h2 {
  text-align: center;
  color: #212121;
  padding: 40px 0; }

.acm {
  margin: 0 auto; }

.help {
  background: #FFCCBC; }

.with-header {
  width: 55%;
  margin: 0 auto; }

.collection-header {
  background: #FFCCBC;
  color: #212121; }

.info {
  display: flex;
  flex-direction: row; }

.one {
  order: 1; }

.img {
  margin-right: 27px;
  font-size: 1.6rem; }

.txt {
  order: 2;
  position: relative;
  max-width: 80%; }

.oneline {
  margin-top: .6rem; }

.m {
  justify-content: space-between; }

.s {
  padding-right: 35px; }

.mdi-content-send {
  float: right;
  font-size: 1.6rem;
  margin-right: 13px; }

.darkgreen, .darkgray, .darkpink, .darkyellow, .darkbrown {
  transition: 0.4s ease all; }

.darkgreen:hover {
  color: #4CAF50; }

.darkgray:hover {
  color: #607D8B; }

.darkpink:hover {
  color: #E91E63; }

.darkyellow:hover {
  color: #FFEB3B; }

.darkbrown:hover {
  color: #795548; }

.rotate {
  transform: rotate(-180deg); }

.card {
  background: white; }

.sigintro {
  background: white; }

.collapsible, .sigintro {
  width: 55%;
  margin: 0 auto; }

.collapsible-header {
  padding-left: 20px; }

.topspace {
  margin: 1.1em auto 0 auto; }

#contact {
  width: 60%;
  margin: 0 auto; }

.contactwrapper {
  width: 100%;
  margin: 60px auto 0 auto;
  background: #e0e0e0; }

h3 {
  text-align: center;
  color: #212121;
  padding: 40px 0; }

.subscribe {
  text-align: left;
  margin: 0 auto; }

.l {
  margin-left: 10px; }

.title {
  margin: 60px auto 20px auto;
  text-align: center; }

.bigdivider {
  border: 0;
  height: 0;
  width: 45px;
  border-top: 1px solid #B6B6B6;
  border-bottom: 1px solid #B6B6B6; }

.center {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 20px; }

.sigtext {
  width: 50%;
  text-align: left;
  margin: 20px auto 60px auto; }

.small, .firstcard {
  width: 31%; }

.card.firstcard .card-image {
  overflow: hidden;
  height: 150px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2); }

.card .card-image {
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 100px; }

.thing {
  text-align: center;
  margin: -34px auto 0 auto;
  position: relative !important; }

.mdi-hardware-laptop, .mdi-action-account-circle, .mdi-social-cake {
  font-size: 3rem;
  text-align: center;
  color: #FF5722;
  margin: 0 auto; }

.aboutuswrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 96%; }

.small, .firstcard {
  margin: 0 auto; }

.meet {
  text-align: center; }

.bottomspace {
  margin-bottom: 12px; }

.officerrow {
  margin: 0 auto;
  text-align: left; }

.officerwrapper {
  width: 85%;
  margin: 0 auto; }

.officer, .officerpic {
  width: 100%;
  background: white; }

.officercard {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }

.officercard p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: #FF5722; }

.officercard .card-content {
  position: relative;
  overflow: hidden;
  padding: 5px 10px 5px 0px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box; }

.officercard .card-title {
  line-height: 32px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05rem; }

.officercard .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 10px 10px 10px 0px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

.leftlink {
  margin-right: 8px; }

.officercard a {
  color: #727272;
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  cursor: auto;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal; }

.officercard a:hover {
  color: #FF5722; }

.valign-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

img.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box; }

img.responsive-img {
  max-width: 100%;
  height: auto; }

.moi {
  border: 2px solid red; }

@media screen and (max-width: 992px) {
  .unnested, .collapsible {
    width: 70%; }

  .sigtext {
    width: 60%; }

  .topspaces {
    margin: 1em auto 0 auto; }

  #contact {
    width: 80%; }

  .bottomspace {
    margin-bottom: 9px; }

  .ha {
    margin-bottom: 9px; } }
@media screen and (max-width: 817px) {
  .aboutuswrap {
    flex-direction: column; }

  .small {
    width: 67%;
    margin: 1em auto 0 auto; }

  .firstcard {
    width: 67%; }

  .officerwrapper {
    width: 90%;
    margin: 0 auto; } }
@media screen and (max-width: 730px) {
  .banner {
    height: 300px; } }
@media screen and (max-width: 685px) {
  .unnested, .collapsible {
    width: 85%; }

  .sigtext {
    width: 75%; }

  .topspace, .small {
    margin: 0.9em auto 0 auto; }

  .subscribe {
    text-align: center; }

  h2, h3 {
    padding: 25px 0; }

  .title {
    margin: 35px auto 20px auto; }

  .center {
    margin: 20px auto 35px auto; }

  .officerwrapper {
    width: 95%;
    margin: 0 auto; } }
@media screen and (max-width: 657px) {
  .small, .firstcard {
    width: 80%; } }
@media screen and (max-width: 600px) {
  #contact {
    width: 95%; }

  .logo {
    margin-top: -42px; }

  .unnested, .collapsible {
    width: 95%; }

  .sigtext {
    width: 80%; }

  .topspace, .small {
    margin: 0.8em auto 0 auto; }

  .officerwrapper {
    width: 79%; }

  .bottomspace {
    margin-bottom: 7px; } }
@media screen and (max-width: 595px) {
  .officerwrapper {
    width: 70%; } }
@media screen and (max-width: 526px) {
  .banner {
    height: 250px; }

  .officerwrapper {
    width: 75%; } }
@media screen and (max-width: 468px) {
  .small, .firstcard {
    width: 95%; }

  .aboutuswrap {
    width: 100%; }

  .officerwrapper {
    width: 85%;
    margin: 0 auto; } }
@media screen and (max-width: 425px) {
  .banner {
    height: 190px; }

  .officerwrapper {
    width: 90%;
    margin: 0 auto; } }
