nav {

  z-index: 100;
}
.nav-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
  text-align: center;
  color: #212121;
}
h5 {
  text-align: center;
  color: #727272;
}
.banner {
  background-image: url('banner.png');
  background-position: 50% 0%;
  background-size: cover;
  height: 450px;
  width: 100%;
}
h2 {
  text-align: center;
  color: #212121;
}
.acm {
  margin: 0 auto;
}
.collapsible {
  width: 60%;
  margin: 0 auto;
}
#contact {
  width: 55%;
  margin: 0 auto;
}
.subscribe {
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .collapsible {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  #contact {
    width: 80%;
  }
}
@media screen and (max-width: 730px) {
  .banner {
      height: 300px;
  }
}
@media screen and (max-width: 685px) {
  .collapsible {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {

}
@media screen and (max-width: 600px) {
  #contact {
    width: 95%;
  }
}
@media screen and (max-width: 526px) {
  .banner {
    height: 250px;
  }
}
@media screen and (max-width: 425px) {
  .banner {
    height: 190px;
  }
}
