nav {

  z-index: 100;
}
.nav-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
  text-align: center;s
}
h5 {
  text-align: center;
}
.banner {
  background-image: url('banner.png');
  background-position: 50% 0%;
  background-size: cover;
  height: 450px;
  width: 100%;
}
.one {
  background-image: url('banner.png');
  background-size: cover;
  background-position: 0% 25%;
}
.two {
  background: #ff5722;
}
.three {
  background: #565657;
}
.four {
  background: #389F11;
}
h2 {
  text-align: center;
}
#contact {
  width: 50%;
  margin: 0 auto;
}
.submit {
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 730px) {
  .banner {
      height: 300px;
  }
}
@media screen and (min-width: 600px) {
  .cards {
  max-width: 75%;
  margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .cards {
    margin: 0 8px;
  }
}
@media screen and (max-width: 526px) {
  .banner {
    height: 250px;
  }
}
@media screen and (max-width: 425px) {
  .banner {
    height: 190px;
  }
}
