.utdhgreen {
  background:#E8F5E9;
}
.csggray {
  background: #ECEFF1;
}
.wwcpink {
  background: #FCE4EC;
}
.lugyellow {
  background: #FFFDE7;
}
.cbbrown {
  background: #EFEBE9;
}
nav {

  z-index: 100;
}
.logo {
  transform: scale(0.5);
  margin-top: -38.5px;
}
.nav-wrapper {
  max-width: 90%;
  margin: 0 auto;
}
h1 {
  margin: 0 auto;
  text-align: center;
  color: #212121;
}
h5 {
  text-align: center;
}
.banner {
  background-image: url('banner.png');
  background-position: 50% 0%;
  background-size: cover;
  height: 450px;
  width: 100%;
}
h2 {
  text-align: center;
  color: #212121;
}
.acm {
  margin: 0 auto;
}
.help {
  background: #FBE9E7;
}
.with-header {
  width: 60%;
  margin: 0 auto;
  -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.collection-header {
  background: #FFCCBC;
  color: #212121;
}
.info {
  display: flex;
  flex-direction: row;
}
.one {
  order: 1;
}
.img {
  margin-right: 27px;
  font-size: 1.6rem;
}
.txt {
  order: 2;
  position: relative;
  max-width: 80%;
}
.oneline {
  margin-top: .6rem;
}
.m {
  justify-content: space-between;
}
.s {
  padding-right: 35px;
}
.mdi-content-send {
  float: right;
  font-size: 1.6rem;
  margin-right: 13px;
}
.darkgreen, .darkgray, .darkpink, .darkyellow, .darkbrown {
  transition: 0.4s ease all;
}
.darkgreen:hover {
  color: #4CAF50;
}
.darkgray:hover {
  color: #607D8B;
}
.darkpink:hover {
  color: #E91E63;
}
.darkyellow:hover {
  color: #FFEB3B;
}
.darkbrown:hover {
  color: #795548;
}
.rotate {
  transform: rotate(-180deg);
}
.collapsible {
  width: 50%;
  margin: 0 auto;
}
.collapsible-header {
  padding-left: 20px;
}
#contact {
  width: 60%;
  margin: 0 auto;
}
.subscribe {
  text-align: center;
  margin: 0 auto;
}
.l {
  margin-left: 10px;
}
@media screen and (max-width: 992px) {
  .unnested {
    width: 70%;
    margin: 0 auto;
  }
  .collapsible {
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  #contact {
    width: 80%;
  }
}
@media screen and (max-width: 730px) {
  .banner {
      height: 300px;
  }
}
@media screen and (max-width: 685px) {
  .unnested, .collapsible {
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {

}
@media screen and (max-width: 600px) {
  #contact {
    width: 95%;
  }
  .logo {
    margin-top: -42px;
  }
}
@media screen and (max-width: 526px) {
  .banner {
    height: 250px;
  }
}
@media screen and (max-width: 425px) {
  .banner {
    height: 190px;
  }
}
